{% extends 'base.html' %}
{% block content %}
  <!-- Breadcrumb Area Start -->
  <div class="section breadcrumb-area bg-bright">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="breadcrumb-wrapper">
            <h2 class="breadcrumb-title">Noticias y Actualizaciones</h2>
            <ul>
              <li>
                <a href="/">Inicio</a>
              </li>
              <li>Noticias</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb Area End -->

  <!-- News Section Start -->
  <div class="section section-margin">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title text-center">Últimas Noticias</h2>
          <div class="row">
            <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
              <div class="news-item">
                <img src="static/images/about/estilo.jpg" alt="Noticia 1" class="fit-image" />
                <h3 class="news-title">Nuevos Estilos de Otoño</h3>
                <p>Descubre las últimas tendencias en cortes y colores para esta temporada. ¡No te lo pierdas!</p>
                <a href="news-detail.html" class="btn btn-primary btn-hover-dark">Leer Más</a>
              </div>
            </div>
            <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="1500">
              <div class="news-item">
                <img src="static/images/about/promo.jpg" alt="Noticia 2" class="fit-image" />
                <h3 class="news-title">Promociones Especiales</h3>
                <p>Aprovecha nuestras ofertas especiales en servicios de peluquería durante todo el mes.</p>
                <a href="news-detail.html" class="btn btn-primary btn-hover-dark">Leer Más</a>
              </div>
            </div>
            <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="2000">
              <div class="news-item">
                <img src="static/images/about/tips.jpeg" alt="Noticia 3" class="fit-image" />
                <h3 class="news-title">Consejos de Cuidado Capilar</h3>
                <p>Conoce los mejores consejos para mantener tu cabello sano y brillante entre visitas.</p>
                <a href="news-detail.html" class="btn btn-primary btn-hover-dark">Leer Más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- News Section End -->
{% endblock %}
