{% extends 'base.html' %}
{% block content %}
  <!-- Sección de Servicios -->
  <div class="col-12 col-sm-6 col-lg-3 mb-8" data-aos="fade-up" data-aos-duration="1800">
    <div class="single-footer-widget">
      <h2 class="widget-title">Servicios</h2>
      <ul class="widget-list">
        <li>
          <a href="#">Corte de Cabello</a>
        </li>
        <li>
          <a href="#">Tinte y Coloración</a>
        </li>
        <li>
          <a href="#">Peinados y Estilismo</a>
        </li>
        <li>
          <a href="#">Tratamientos Capilares</a>
        </li>
        <li>
          <a href="#">Manicura y Pedicura</a>
        </li>
        <li>
          <a href="#">Depilación</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
